/* Pathway Driving School - Custom Optimized Styles */

.pageLoader {
    background: url(../images/loader.gif) no-repeat center center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
    background-color: #ffffff8c;
    display: none;
}

p, span, li {
    line-height: 1.6 !important;
}

.single-blog {
    width: 90%;
    border-radius: 7px !important;
    transition: .3s;
}

.single-blog img {
    height: 370px;
}

.single-blog:hover {
    box-shadow: 0px 4px 16px #642f002c;
}

.blog-read-more {
    font-size: 16px !important;
}

.tag-badge { opacity: .9; }
.cat-badge { opacity: .8; }

.course-wrapper {
    display: flex;
    justify-content: space-between;
    row-gap: 30px;
    flex-wrap: wrap;
}

.course-cat-img {
    transition: .4s;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    height: 160px;
}

.course-cat-img img {
    border-radius: 20px;
    width: 100%;
}

.course-cat-overlay {
    background: var(--secondary-color);
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    bottom: 0;
    transition: .4s;
}

.course-cat-box:hover .course-cat-overlay { opacity: .3; }
.course-cat-box:hover .course-cat-line { width: 75px; }
.course-cat-box:hover h4 { color: var(--secondary-color); }
.course-cat-box h4 { margin-top: 20px; transition: .4s; }
.course-cat-line {
    height: 2.5px;
    width: 30px;
    background: var(--secondary-color);
    transition: .5s;
}

.single-feature:hover {
    box-shadow: 0px 4px 16px #642f002c;
}

.feature-container {
    display: flex;
    flex-wrap: wrap;
}

.single-feature {
    width: 28%;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 60px;
    border-radius: 7px !important;
}

.single-feature .icon i {
    padding-bottom: 20px;
    font-size: 70px;
}

.certification-row {
    margin-top: 15px;
    justify-content: center;
    gap: 20px
}

.certification-row img:hover {
    transform: scale(107%);
}

.certification-row img {
    transition: .4s;
}

.about-vid {
    border-radius: 12px;
    overflow: hidden;
    margin: auto;
    margin-bottom: 30px;
}

.director-box {
    justify-content: center;
    align-items: center;
}

.director-box p {
    margin-right: 40px !important;
    text-align: justify
}

.director-pic {
    margin-left: 70px;
    border-radius: 10px;
    box-shadow: 1px 6px 10px #00000053
}

.align-center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important
}

.contact-form .form-control:focus {
    border-color: var(--primary-color) !important;
    box-shadow: 1px 1px 5px var(--primary-color);
}

.contact-form {
    width: 80% !important;
    margin: 40px auto 0 !important;
}

.single-branch p { margin-bottom: 5px; }

.course-container {
    column-gap: 20px;
    row-gap: 70px;
    justify-content: space-around;
}

.single-course-box { width: 23%; }
.course-thumb { position: relative; }
.sale-badge { position: absolute; top: 3px; right: 3px; }
.text-orange { color: var(--secondary-color); }
.text-ash { color: #88888895; }
.single-course li { font-size: 13px; }
.single-course li i { font-size: 15px; }
.single-course .reviews i { font-size: 10px; }
.single-course .reviews span { font-size: 12px; }
.single-course .reviews { margin-bottom: 5px; }
.single-course h4 { font-size: 20px; margin-bottom: 0; }
.course-container .enrollBtn { background: #d9d9d9; }
.course-container .enrollBtn:hover {
    background: var(--secondary-color);
    color: #fff;
}
.course-container .detailsBtn { color: #fff; }
.course-container .detailsBtn:hover {
    background: #d9d9d9;
    color: #000;
}

.single-course {
    transition: .3s;
    background: #f1f1f1;
    box-shadow: 1px 1px 5px #47220141;
}

.single-course img {
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    height: 180px;
    width: 315px;
}

.single-course h3 a:hover { color: var(--secondary-color) }
.single-course:hover { box-shadow: 2px 6px 16px #47220141; }

.ti-slider .single-slide.slick-center .image { border-color: var(--primary-color) !important; }
.ti-slider::before { background-color: var(--primary-color) !important; }

.single-course .button-group {
    display: flex;
    column-gap: 13px;
    justify-content: center;
    align-items: center;
}

.panel-title a[aria-expanded="true"] { background-color: var(--primary-color) !important; }
.gallery-image img { height: 180px; }
.gallery-image::before { background-color: var(--primary-color) !important; }
.panel-body { border-color: var(--primary-color) !important; }

.courseBtn {
    font-size: 16px;
    padding: 2px 13px 3px;
    background: var(--secondary-color);
}

.footer-3-social {
    display: flex;
    justify-content: center;
    gap: 15px
}

.footer-3-social a { transition: .1s; }
.f-text { color: #9b9b9b !important; }
.footer-col p { width: 70% !important; }
.footer-col img { width: 45% !important; }
.footer-links h4 {
    color: #fff !important;
    margin-bottom: 21px !important;
}
.footer-links { color: #9b9b9b !important; }
.copyright { color: #757575 !important; }
.footer-links li { margin-bottom: 5px !important; transition: .2s; }
.footer-links li a:hover { color: #fff !important; }
.footer-contacts i { margin-right: 4px !important; }
.footer-contacts li { margin-right: 3px !important; }
.footer-contacts li:hover { color: #fff !important; }

.site-bg-primary {
    background: var(--primary-color) !important;
    color: #fff;
    border-color: transparent !important;
}

.site-bg-primary:hover {
    border-color: #fff !important;
    background: var(--primary-accent-color) !important;
    color: #fff !important;
}

.site-bg-primary-hov:hover {
    border-color: #fff !important;
    background: var(--primary-color) !important;
    color: #fff;
}

.site-bg-secondary {
    background: var(--secondary-color) !important;
    color: #fff;
    border-color: transparent !important;
}

.site-bg-secondary-hov:hover {
    background: var(--secondary-color) !important;
    color: #fff;
    border-color: transparent !important;
}

.site-bg-secondary:hover {
    border-color: #fff !important;
    background: var(--secondary-accent-color) !important;
    color: #fff;
}

.site-text-primary { color: var(--primary-color) !important; }
.site-text-primary:hover { color: var(--primary-accent-color) !important; }
.site-text-primary-hov:hover { color: var(--primary-color) !important; }
.site-text-secondary { color: var(--secondary-color) !important; }
.site-text-secondary:hover { color: var(--secondary-accent-color) !important; }
.cta-area { background-color: var(--primary-color) !important; }
.footer-line { height: .5px; width: 50%; }
.certificate-logos { gap: 18px; width: 87%; flex-wrap: wrap; }
.about-text, .director-text { font-size: 15px; text-align: justify; }

@media only screen and (max-width: 1100px) {
    .single-feature { width: 45%; }
    .single-blog img { height: auto; }
    .single-blog { width: auto; }
}

@media only screen and (max-width: 730px) {
    .gallery-image img { height: auto !important; }
    .about-text, .director-text { font-size: 14px }
    .single-feature {
        width: 70%;
        flex-direction: column;
        gap: 8px;
        text-align: center
    }
    .single-feature .icon i { font-size: 85px; }
    .single-feature h4 { font-size: 24px !important; }
    .course-cat-img { height: 220px; }
    .course-container {
        flex-direction: column;
        row-gap: 55px !important;
        justify-content: center;
        align-items: center
    }
    .single-course-box { width: 60% !important; }
    .single-course li { font-size: 14px !important; }
    .courseBtn {
        font-size: 18px !important;
        display: inline-block;
        padding-bottom: 2px !important;
    }
    .single-course img { width: 100%; }
    .single-course .button-group {
        display: flex;
        column-gap: 10px;
        justify-content: center
    }
    .footer-box { gap: 30px; }
    .call-to-action {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 18px
    }
    .call-to-action h3 { font-size: 18px; }
    .call-to-action .btn {
        display: inline-block;
        width: 28%;
        margin: auto;
    }
    .director-box {
        flex-direction: column;
        gap: 30px;
        align-items: center !important;
    }
    .director-box p { margin-right: 0 !important; }
    .director-pic {
        margin-left: 0 !important;
        width: 370px !important
    }
    .director-pic-box { display: flex; justify-content: center }
}

@media only screen and (min-width: 731px) and (max-width: 1200px) {
    .course-container {
        column-gap: 50px !important;
        row-gap: 55px !important;
        justify-content: center;
    }
    .single-course-box { width: 30% !important; }
    .single-course li { font-size: 14px !important; }
    .courseBtn {
        font-size: 18px !important;
        display: inline-block;
        padding-bottom: 2px !important;
    }
    .single-course img { width: 100%; }
    .single-course .button-group {
        display: flex;
        column-gap: 10px;
        justify-content: center
    }
}

